* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 10px; }

p {
  margin-bottom: 10px;
  font-weight: 400; }

html, body {
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: 'Lato', sans-serif;
  line-height: 1.45; }

img.responsive {
  max-width: 100%;
  height: auto; }

hr.break {
  border: none;
  border-bottom: 1px solid #ecf0f1; }

.header__handwrite {
  font-family: 'Great Vibes', cursive;
  font-weight: 300;
  font-size: 2.5rem; }

.text__bigger {
  font-size: 1.25rem; }

.logo {
  width: 100%;
  height: auto;
  position: relative;
  padding: 5%; }
  .logo__box {
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
  .logo__brand {
    font-family: 'Alex Brush', cursive;
    font-size: 2.25rem;
    margin-bottom: 5px; }
  .logo__caption {
    font-family: 'Anonymous Pro', monospace;
    font-size: 0.9rem;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 8px;
    letter-spacing: 2px; }
  @media only screen and (min-width: 1100px) {
    .logo {
      padding: 2%; } }

.navigation {
  width: 100%;
  height: auto; }
  .navigation__trigger {
    width: 50px;
    height: 50px;
    padding: 5px;
    background: #ffffff;
    position: fixed;
    left: 15px;
    top: 15px;
    cursor: pointer;
    border: none;
    z-index: 999999; }
    .navigation__trigger img {
      width: 40px;
      height: 40px; }
    .navigation__trigger:focus {
      outline: 0; }
    .navigation__trigger:focus ~ .navigation__list {
      height: auto;
      visibility: visible; }
    @media only screen and (min-width: 768px) {
      .navigation__trigger {
        display: none; } }
  .navigation__list {
    width: calc(100% - 30px);
    display: inline-block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    background: #ffffff;
    border: 1px solid #7f8c8d;
    position: fixed;
    top: 90px;
    left: 15px;
    z-index: 999999; }
    .navigation__list li {
      display: inline-block;
      width: 100%;
      text-align: center;
      visibility: inherit; }
      .navigation__list li a {
        display: block;
        width: 100%;
        padding: 10px;
        text-transform: uppercase;
        transition: 0.5s; }
        .navigation__list li a:hover {
          background: #7f8c8d;
          color: #ffffff; }
  @media only screen and (min-width: 768px) {
    .navigation__list {
      height: auto;
      visibility: visible;
      display: flex;
      justify-content: space-between;
      border: none;
      border-top: 1px solid #7f8c8d;
      position: static; }
      .navigation__list li {
        width: auto; }
        .navigation__list li a {
          border: none; } }
  @media only screen and (min-width: 1100px) {
    .navigation {
      padding: 0 5%; } }

.social-icons {
  width: 100%;
  height: auto;
  display: inline-block; }
  .social-icons li {
    display: block;
    width: 30px;
    height: 30px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 50%;
    color: #ffffff;
    transition: 0.7s;
    cursor: pointer; }
    .social-icons li:hover {
      background: #333333; }
  .social-icons__facebook {
    background: #2980b9; }
  .social-icons__instagram {
    background: #e74c3c; }

.slider {
  width: 100%;
  height: 40vh;
  padding: 5%; }
  .slider__box {
    width: 100%;
    height: 100%;
    background: url("../img/slider/1.jpg");
    background-size: cover;
    background-position: center; }
  @media only screen and (min-width: 768px) {
    .slider {
      height: 300px; } }
  @media only screen and (min-width: 1100px) {
    .slider {
      height: 400px;
      padding: 2%; } }

.row {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ecf0f1;
  display: inline-block; }
  .row__row-12 {
    width: 100%;
    padding: 5%; }
  .row__row-6 {
    width: 50%;
    float: left;
    padding: 5%; }
  .row [class^="row__row-m-"] {
    width: 100%;
    padding: 5%; }
  .row [class^="row__row-l-"] {
    width: 100%;
    padding: 5%; }
  .row::after {
    clear: both; }
  @media only screen and (min-width: 1160px) {
    .row {
      padding: 3% 10%; } }

.offer-list {
  width: 100%;
  display: inline-block; }
  .offer-list li {
    width: 100%;
    background: #ffffff;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    display: inline-block; }
    .offer-list li .title {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 15px;
      background: #ffffff;
      font-size: 1.5rem;
      color: #333333;
      font-family: 'Roboto Slab', sans-serif;
      text-transform: uppercase;
      margin: 0; }
  @media only screen and (min-width: 768px) {
    .offer-list li {
      width: 44%;
      float: left; } }
  @media only screen and (min-width: 1160px) {
    .offer-list li {
      width: 48%;
      margin: 1%;
      float: left;
      transform: scale(1);
      transition: 1s; }
      .offer-list li:hover {
        transform: scale(1.1); } }

.site-form {
  width: 100%;
  padding: 15px;
  border: 1px solid #ecf0f1; }
  .site-form input, .site-form textarea, .site-form select, .site-form option {
    width: 100%;
    padding: 10px;
    border-radius: 5px; }
  .site-form input[type=text], .site-form input[type=email], .site-form textarea, .site-form select, .site-form option {
    border: 1px solid #333333; }
  .site-form__group {
    width: 100%;
    clear: both;
    margin-bottom: 15px; }

.footer {
  width: 100%;
  background: #333333;
  color: #ffffff;
  padding: 1% 5%;
  font-size: 0.85rem; }

.btn {
  padding: 10px;
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  cursor: pointer; }
  .btn--primary {
    background: #ecf0f1; }
    .btn--primary:hover {
      background: #333333;
      color: #ffffff; }
